= link_to root_path, class: 'header' do
  .img-box
    = image_tag asset_path("png/ebi.png", alt: "エビソースロゴ1")
  .page-title Evi Source
  .img-box
    = image_tag asset_path("png/ebi.png", alt: "エビソースロゴ2")