.title-block {
  padding: 15px 0;
  h1.title {
  font-size: 28px;
  text-align: center;
  }
}

.posts {
  padding: 0 20px 35px;
  &__post {
    border-bottom: 1pt silver solid;
  }
}
.number1 {
  border-top: 1pt silver solid;
}

.info-box {
  padding: 12px 0 5px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  &__user {
    color: #222;
    text-decoration: none;
    cursor: pointer;
  }
  &__user:hover {
    color: #a0a0a0;
  }
}

.post-text {
  padding-bottom: 12px;
  font-size: 20pt;
  color: #222;
  text-decoration: none;
  cursor: pointer;
}
.post-text:hover {
  color: #a0a0a0;
}

.pagination {
  text-align: center;
}