.title-block {
  padding: 20px;
  h1.title {
  font-size: 28px;
  text-align: center;
  line-height: 1;
  }
}

.sortBtn-area {
  text-align: end;
}

.posts {
  padding: 0 20px 35px;
  &__post {
    border-bottom: 1pt $color-border-silver solid;
  }
}
.number1 {
  border-top: 1pt $color-border-silver solid;
}

.info-box {
  padding: 12px 0 5px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  &__user {
    color: $color-defaultText-black;
    text-decoration: none;
    cursor: pointer;
  }
  &__user:hover {
    color: $color-hoverText-gray;
  }
}

.post-text {
  padding-bottom: 12px;
  font-size: 20pt;
  color: $color-defaultText-black;
  text-decoration: none;
  cursor: pointer;
}
.post-text:hover {
  color: $color-hoverText-gray;
}

.pagination {
  text-align: center;
}