.post {
  font: {
    size: 22px;
    weight: bold;
  }
  .evidence-scope {
    border-radius: 4px;
    padding: 5px 9px;
    margin-bottom: 10px;
    background-color: #000000;
    font: {
      size: 20px;
      weight: normal;
    }
    color: #fff;
  }
}
.evidences {
  margin: 15px 0 15px auto;
  &__evidence {
    padding-left: 26px;
    text-indent: -13px;
    word-break: break-all;
    font-size: 18px;
    cursor: pointer;
  }
  .evidence-info {
    border-radius: 2px;
    width: 100%;
    border: {
      collapse: separate;
      spacing: 5px;
    }
    border: solid 1px #c7c7c7;
    &__row {
      td {
        border-radius: 4px;
        padding: 0 5px;
      }
      &__title {
        margin: 2px;
        width: 100px;
        background-color: #f0e441;
      }
      &__data {
        background-color: #58b6ec;
      }
    }
  }
}

.link-btn-box {
  text-align: end;
  .evidence-new-btn {
    display: inline-block;
    padding: 0.4em 1.6em;
    font-size: 0.8em;
    user-select: none;
    border: 1px #24e724 solid;
    border-radius: 3px;
    transition: 0.4s ease;
    text-decoration: none;
    color: #24e724;
    font-weight: bold;
  }
}

.evidence-new-btn:hover {
  background: #24e724;
  color: #fff;
}